.boto {

     font-size:  21px;
     color: rgb(0, 0, 0);
     background-color: rgb(101, 168, 183);
}

body {

 background-color: white;
 color: black;
 align-items: center;
 justify-content: center;
 display: flex;
 height: 600px;
 margin: 0;

}
